<!DOCTYPE html>
<html>
<head>
	<title>picFight</title>
	<style type="text/css">
		.pic {
			position: relative;
			display: inline-block;
			margin: 20px;
		}
		.pic__text {
			position: absolute;
			bottom: 40px;
			width: 100%;
			text-align: center;
		}
		.pic__edit {
			margin: 0 auto;
			text-align: center;
		}
		.pic__edit__clear {
			cursor: pointer;
			margin-left: 5px;
		}
	</style>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
	<div class="pic" v-for="item in picArr">
		<img class="pic__body" :src="item.ur">
		<div class="pic__text">{{item.text}}</div>
		<div class="pic__edit">
			<input type="text" class="pic__edit__text" v-model="item.text">
			<button class="pic__edit__clear" @click="clearPicText(item)">C</button>
		</div>
	</div>
	<input type="file" @change="upload">
</div>
<script>
	var app = new Vue({
		el: '#app',
		data: function() {
			return{
				picArr : [
					{text: '', url: '/client/assets/pics/qiaoqiaohua.jpg'},
					{text: '', url: '/client/assets/pics/laba.jpg'},
				]
			}
		},
		methods: {
			clearPicText: function(item) {
				item.text = '';
			},
			upload: function(e) {
				// let headers = {
				// 	'content-type': 'multipart/form-data'
				// }
				let formData = new FormData();
				formData.append('uploadfile', e.target.files[0]);
				console.log('formData', formData)
				this.$http.post('/upload', formData)
				.then(function (response) {
				    console.log('upload res -', response);
				}, function(err) {
					console.log('upload err -', err)
				})
			}
		}
	})
</script>
</body>
</html>