<!DOCTYPE html>
<html>
<head>
	<title>picFight</title>
	<style type="text/css">
		.pic {
			position: relative;
			display: inline-block;
			margin: 20px;
		}
		.pic__body {

		}
		.pic__text {
			position: absolute;
			bottom: 40px;
			width: 100%;
			text-align: center;
		}
		.pic__edit {
			margin: 0 auto;
			text-align: center;
		}
		.pic__edit__text {
			
		}
		.pic__edit__clear {
			cursor: pointer;
			margin-left: 5px;
		}
	</style>
	<!-- <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script> -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<div class="pic" v-for="item in picArr">
		<img class="pic__body" :src="item.url">
		<div class="pic__text">{{item.text}}</div>
		<div class="pic__edit">
			<input type="text" class="pic__edit__text" v-model="item.text"><button class="pic__edit__clear" @click="clearPicText(item)">C</button>
		</div>
	</div>
</div>
<script>
	// // 绑定事件到每个输入框，保证单独编辑当前图片
	// $('.pic__edit input').each(function() {
	// 	var _this = this
	// 	$(this).on('keyup', function() {
	// 		$(_this).parent().siblings('div').text(function() {
	// 			return $(_this).val()
	// 		})
	// 	})
	// })
	// // 绑定事件到每个清空按钮，清空当前文本
	// $('.pic__edit__clear').each(function() {
	// 	var _this = this
	// 	$(this).on('click', function() {
	// 		$(_this).siblings('.pic__edit__text').val(function() {
	// 			return ''
	// 		})
	// 		$(_this).parent().siblings('div').text(function() {
	// 			return ''
	// 		})
	// 	})
	// })
	var app = new Vue({
		el: '#app',
		data: function() {
			return{
				picArr : [
					{text: '', url: '/client/assets/pics/qiaoqiaohua.jpg'},
					{text: '', url: '/client/assets/pics/laba.jpg'},
				]
			}
		},
		methods: {
			clearPicText: function(item) {
				item.text = ''
			},
		}
	})
</script>
</body>
</html>