<!DOCTYPE html>
<html>
<head>
	<title><%= htmlWebpackPlugin.options.title %></title>
	<style type="text/css">
		.pic {
			position: relative;
			display: inline-block;
			margin: 20px;
		}
		.pic__text {
			position: absolute;
			bottom: 40px;
			width: 100%;
			text-align: center;
		}
		.pic__body {
			width: 190px;
			height: 190px;
		}
		.pic__edit {
			margin: 0 auto;
			text-align: center;
		}
		.pic__edit__clear {
			cursor: pointer;
			margin-left: 5px;
		}
	</style>
</head>
<body>
<div id="app">
	<div class="pic" v-for="item in picArr">
		<img class="pic__body" :src="item.url">
		<div class="pic__text">{{item.text}}</div>
		<div class="pic__edit">
			<input type="text" class="pic__edit__text" v-model="item.text">
			<button class="pic__edit__clear" @click="clearPicText(item)">C</button>
		</div>
	</div>
	<input type="file" @change="upload">
</div>
</body>
</html>